<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Workout_Planner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Workout_Planner.Properties.Settings>
            <setting name="Login" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;</string>
                        <string>&lt;ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;</string>
                        <string>  &lt;string&gt;&amp;lt;string&amp;gt;Simon,123&amp;lt;/string&amp;gt;&lt;/string&gt;</string>
                        <string>&lt;/ArrayOfString&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Workout_Planner.Properties.Settings>
    </userSettings>
</configuration>